<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539228418594-t57j3s9ncgldbgk49a1td9f1hdrld7ic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539228418594-t57j3s9ncgldbgk49a1td9f1hdrld7ic</string>
	<key>API_KEY</key>
	<string>AIzaSyCfaTQD-3li5WdUc-3t6f7AYSD4ts7M6d0</string>
	<key>GCM_SENDER_ID</key>
	<string>539228418594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diasponiger.diaspoNiger</string>
	<key>PROJECT_ID</key>
	<string>diaspo-niger</string>
	<key>STORAGE_BUCKET</key>
	<string>diaspo-niger.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539228418594:ios:6cdc9491c795c4a38e507b</string>
	<key>DATABASE_URL</key>
	<string>https://diaspo-niger-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
